@model List<DWB.Models.TblUsers>
<div align="right">    
        <a id="btnCreateNew" href="#" class="btn btn-primary px-4 open-modal"
       data-url="@Url.Action("NewUser", "UserMaster")"
           data-bs-toggle="modal"
           data-bs-target="#newModal">
        <i class="bi bi-plus-lg me-2"></i>Add user
        </a>
    </div>
<table id="userTable" class="table table-responsive table-striped table-bordered" style="width:100%;font-size:90%">
            @*<table id="userTable" class="table table-striped table-responsive table-sm"> *@
        @if (TempData["userSuccess"] != null)
        {
            <br />
            <div class="alert alert-success border-0 bg-success alert-dismissible fade show">
                <div class="text-white align-content-center">@TempData["userSuccess"]</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (TempData["userError"] != null)
        {
            <br />
            <div class="alert alert-danger border-0 bg-danger alert-dismissible fade show">
                <div class="text-white align-content-center">@TempData["userError"]</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <thead class="bg-primary" style="font-weight:bolder">
            <tr>
                <th>Sr. No.</th>
                <th>Full name</th>
                <th>User name</th>
                <th>Assigned Company</th>
                <th>Actions</th>
                <!--Add more columns as needed-->
            </tr>
        </thead>
<tbody>
 @if (Model != null && Model.Any())
       {
        for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].VchFullName</td>
                    <td>@Model[i].VchUsername</td>
                    <td>
                        @if(Model[i].TblUserCompany.Any())
                        {
                            <ul>
                                @foreach (var uc in Model[i].TblUserCompany)
                                {
                                    <li>@uc.FkIntCompany?.Descript</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>No companies assigned</span>
                        }
                    </td>
                    <td>
                        <a href="#" class="btn btn-sm btn-primary me-1 open-modal"
                           data-bs-toggle="modal"
                           data-bs-target="#newModal"
                           data-url="@Url.Action("UserEdit", "UserMaster", new { id = Model[i].IntUserId })">
                            Edit
                        </a>
                       @*  <a class="btn btn-sm btn-danger me-1"
                           href="@Url.Action("DietDelete", "Master", new { id = Model[i].IntUserId })"
                           onclick="return confirm('Are you sure you want to delete this record?');">
                            Delete
                        </a> *@
                        @if (Model[i].BitIsDeActived == false)
                        {
                            <a class="btn btn-sm btn-warning me-1"
                               href="@Url.Action("UserDeactivate", "UserMaster", new { id = Model[i].IntUserId })">
                                Deactivate?
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-inverse-warning me-1"
                               href="@Url.Action("UserActivate", "UserMaster", new { id = Model[i].IntUserId })">
                                Activate?
                            </a>
                        }
                    </td>
                </tr>
             }           
         }      
else
{
                <div class="alert alert-danger border-0 bg-danger alert-dismissible fade show">
                <div class="text-white align-content-center">@TempData["EmptyUser"]</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
}
    </tbody>
</table>

