@model DWB.Models.CreateUserViewModel

<style>
    .company-card {
        background: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        padding: 12px;
        transition: all 0.2s ease-in-out;
    }

    .required-label::after {
        content: " *";
        color: red;
    }

    .doctor-code-input {
        display: none;
        margin-left: 10px;
    }
    /* for upload files */
    .profile-upload, .signature-upload {
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #ccc;
        cursor: pointer;
        background-color: #f9f9f9;
    }

        .profile-upload img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .signature-upload {
        width: 300px;
        height: 100px;
        border-radius: 6px;
    }

        .signature-upload img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    /*    input[type="file"] {
                display: block;
            } */

    /* --- Base (Light Theme) Styles --- */
    .timing-inputs {
        display: none;
        margin-top: 10px;
        padding: 15px;
        background-color: #f8f9fa;
        border: 1px dashed #ced4da;
        border-radius: 8px;
        transition: background-color 0.2s, border-color 0.2s;
        margin-left: 10px; /* <-- THIS IS THE NEW LINE FOR ALIGNMENT */
    }

        .timing-inputs .form-label-sm,
        .timing-inputs .form-check-label,
        .timing-inputs .fw-bold {
            color: #212529;
            transition: color 0.2s;
        }

        .timing-inputs input[type="time"] {
            background-color: #ffffff;
            color: #212529;
            border: 1px solid #ced4da;
            transition: background-color 0.2s, border-color 0.2s, color 0.2s;
        }

            /* Default time picker icon */
            .timing-inputs input[type="time"]::-webkit-calendar-picker-indicator {
                filter: invert(0);
            }

    /* --- Dark Theme Overrides --- */
    /* This code activates when a parent element has the .dark class */

    .dark .timing-inputs {
        background-color: #2a3042;
        border: 1px solid #404656;
    }

        .dark .timing-inputs .form-label-sm,
        .dark .timing-inputs .form-check-label,
        .dark .timing-inputs .fw-bold {
            color: #e9ecef;
        }

        .dark .timing-inputs input[type="time"] {
            background-color: #31374a;
            color: #e9ecef;
            border: 1px solid #404656;
        }

            /* Inverts the time picker icon to be light */
            .dark .timing-inputs input[type="time"]::-webkit-calendar-picker-indicator {
                filter: invert(1);
            }

</style>

<form id="userForm" enctype="multipart/form-data" asp-action="@(Model.IntUserId > 0 ? "EditUser" : "CreateUser")" asp-controller="UserMaster" method="post">
    @Html.HiddenFor(m => m.IntUserId)
    @Html.HiddenFor(m => m.ProfilePath)
    @Html.HiddenFor(m => m.SignaturePath)
 @Html.AntiForgeryToken()

    <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">@((Model.IntUserId > 0) ? "Edit User" : "Create User")</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        @if (TempData["Success"] != null)
        {
            <br />
            <div class="alert alert-success border-0 bg-success alert-dismissible fade show">
                <div class="text-white align-content-center">@TempData["Success"]</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (TempData["Error"] != null)
        {
            <br />
            <div class="alert alert-danger border-0 bg-danger alert-dismissible fade show">
                <div class="text-white align-content-center">@TempData["Error"]</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3">
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="VchUsername" class="form-label required-label"></label>
                @if (Model.IntUserId > 0)
                {
                    <input asp-for="VchUsername" class="form-control" readonly="readonly" placeholder="Enter user name" />
                }
                else
                {
                    <input asp-for="VchUsername" class="form-control" placeholder="Enter user name" />
                }
                <span asp-validation-for="VchUsername" class="text-danger"></span>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="HpasswordHash" class="form-label required-label"></label>
                <input asp-for="HpasswordHash" type="password" class="form-control" placeholder="Password (leave blank to keep existing)" />
                <span asp-validation-for="HpasswordHash" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="VchFullName" class="form-label required-label"></label>
                <input asp-for="VchFullName" class="form-control" />
                <span asp-validation-for="VchFullName" class="text-danger"></span>
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="VchEmail" class="form-label required-label"></label>
                <input asp-for="VchEmail" class="form-control" />
                <span asp-validation-for="VchEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="VchMobile" class="form-label required-label"></label>
                <input asp-for="VchMobile" class="form-control" />
                <span asp-validation-for="VchMobile" class="text-danger"></span>
            </div>


            <div class="col-md-6 form-group">
                <label class="form-label required-label">Select role</label>
                <select asp-for="FkRoleId" class="form-select" asp-items="ViewBag.RoleList">
                    <option value="">-- Select Role --</option>
                </select>
                <span asp-validation-for="FkRoleId" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="row">
            <!-- Profile Upload -->
            <div class="col-md-6">
                <div class="flex flex-col items-center">
                    <label>Profile Image</label>
                    <label class="profile-upload">
                        <img id="profileImagePreview" src="@(string.IsNullOrEmpty(Model.ProfilePath)
                          ? "https://placehold.co/200x200/cccccc/333333?text=Profile" : Url.Content("~/Uploads/Profile/"+Model.UploadedProfileFile))"  />
                        <input asp-for="ProfileFile" type="file" id="ProfileFileInput" accept="image/jpeg" style="display:none;" />
                    </label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="flex flex-col items-center">
                    <label>Signature</label>
                    <label class="signature-upload">
                        <img id="signatureImagePreview" src=@(string.IsNullOrEmpty(Model.SignaturePath)
                       ? "https://placehold.co/300x100/cccccc/333333?text=Signature" : Url.Content("~/Uploads/Signature/"+Model.UploadedSignatureFile))  />
                        <input asp-for="SignatureFile" type="file" id="SignatureFileInput" accept="image/jpeg" style="display:none;" />
                    </label>
                </div>
            </div>          
        </div>
        <hr />
        <div class="row border p-2 rounded">
            <h6 align="center" style="color:darkorange">Assign company (For consultant add HMS doctor code)</h6>
            <hr />
            @for (int i = 0; i < Model.UserCompanies.Count; i++)
            {
                <div class="col-md-6 mb-3">
                    <div class="company-row">
                        <div class="form-check">
                            <input asp-for="UserCompanies[i].IsSelected"
                                   type="checkbox"
                                   class="form-check-input company-checkbox"
                                   onclick="toggleDoctorCode($(this))" />
                            @*for get isselecetd on post *@ 
                                    <input type="hidden" asp-for="UserCompanies[i].IsSelected" value="false" />
                            <label class="form-check-label fw-bold" for="company_@i">
                                @Model.UserCompanies[i].CompanyName
                            </label>
                        </div>

                        <input asp-for="UserCompanies[i].VchDoctorCode"
                               class="form-control form-control-sm doctor-code-input"
                               placeholder="Enter Doctor Code" />

                        <div class="timing-inputs">
                            <label class="form-label-sm fw-bold">Set Visiting Days & Hours:</label>

                            <div class="d-flex flex-wrap mb-2">
                                <div class="form-check day-checkbox">
                                    <input asp-for="UserCompanies[i].IsSunday" class="form-check-input" />
                                    <label class="form-check-label" asp-for="UserCompanies[i].IsSunday"></label>
                                </div>
                                <div class="form-check day-checkbox">
                                    <input asp-for="UserCompanies[i].IsMonday" class="form-check-input" />
                                    <label class="form-check-label" asp-for="UserCompanies[i].IsMonday"></label>
                                </div>
                                <div class="form-check day-checkbox">
                                    <input asp-for="UserCompanies[i].IsTuesday" class="form-check-input" />
                                    <label class="form-check-label" asp-for="UserCompanies[i].IsTuesday"></label>
                                </div>
                                <div class="form-check day-checkbox">
                                    <input asp-for="UserCompanies[i].IsWednesday" class="form-check-input" />
                                    <label class="form-check-label" asp-for="UserCompanies[i].IsWednesday"></label>
                                </div>
                                <div class="form-check day-checkbox">
                                    <input asp-for="UserCompanies[i].IsThursday" class="form-check-input" />
                                    <label class="form-check-label" asp-for="UserCompanies[i].IsThursday"></label>
                                </div>
                                <div class="form-check day-checkbox">
                                    <input asp-for="UserCompanies[i].IsFriday" class="form-check-input" />
                                    <label class="form-check-label" asp-for="UserCompanies[i].IsFriday"></label>
                                </div>
                                <div class="form-check day-checkbox">
                                    <input asp-for="UserCompanies[i].IsSaturday" class="form-check-input" />
                                    <label class="form-check-label" asp-for="UserCompanies[i].IsSaturday"></label>
                                </div>
                            </div>

                            <div class="row g-2">
                                <div class="col-6">
                                    <label class="form-label-sm" asp-for="UserCompanies[i].StartTime">Start Time</label>
                                    <input asp-for="UserCompanies[i].StartTime" class="form-control form-control-sm" type="time" />
                                </div>
                                <div class="col-6">
                                    <label class="form-label-sm" asp-for="UserCompanies[i].EndTime">End Time</label>
                                    <input asp-for="UserCompanies[i].EndTime" class="form-control form-control-sm" type="time" />
                                </div>
                            </div>
                        </div>
                        <input asp-for="UserCompanies[i].CompanyId" type="hidden" name="UserCompanies[@i].CompanyId" value="@Model.UserCompanies[i].CompanyId" />
                        <input asp-for="UserCompanies[i].CompanyName" type="hidden" name="UserCompanies[@i].CompanyName" value="@Model.UserCompanies[i].CompanyName" />
                    </div>
                </div>
            }
        </div>
    </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-success">@((Model.IntUserId > 0) ? "Update" : "Create")</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
   
</form>
<script type="text/javascript">     

    // Run immediately when partial loads
    (function () {
        // Pre-show for edit mode
        $(".company-checkbox").each(function () {
            toggleDoctorCode($(this));
        });

        // Handle change event
        $(".company-checkbox").on("change", function () {
            toggleDoctorCode($(this));
        });

        // function toggleDoctorCode(checkbox) {
        //     var input = checkbox.closest(".company-row").find(".doctor-code-input");
        //     var docCodeInput = row.find(".doctor-code-input");
        //     var timingInputDiv = row.find(".timing-inputs"); // This finds your new timing box
        //     if (checkbox.is(":checked")) {
        //         input.show();
        //     } else {
        //         input.hide().val("");
        //     }
        // }
    })();
    //for file upload
       document.getElementById("ProfileFileInput").addEventListener("change", function(e){
        const file = e.target.files[0];
        if(file) document.getElementById("profileImagePreview").src = URL.createObjectURL(file);
    });

    document.getElementById("SignatureFileInput").addEventListener("change", function(e){
        const file = e.target.files[0];
        if(file) document.getElementById("signatureImagePreview").src = URL.createObjectURL(file);
    });
       function toggleDoctorCode(checkbox) {
        // Find the parent .company-row
        var row = checkbox.closest(".company-row");

        // Find BOTH inputs within that row
        var docCodeInput = row.find(".doctor-code-input");
        var timingInputDiv = row.find(".timing-inputs"); // <-- This is the new line

        if (checkbox.is(":checked")) {
            docCodeInput.show();
            timingInputDiv.show(); // <-- This is the new line that shows the timing
        } else {
            docCodeInput.hide().val("");

            // Hide and clear all timing inputs
            timingInputDiv.hide();
            timingInputDiv.find("input[type='checkbox']").prop('checked', false);
            timingInputDiv.find("input[type='time']").val("");
        }
    }
    //post function to post file to controller.
     $(function () {
            $("#userForm").submit(function (e) {
                e.preventDefault();
                //check companies before sending AJAX
                if ($(".company-checkbox:checked").length === 0) {
                    alert("Please select at least one company.");
                    return false;
                }   
                var formData = new FormData(this);
                $.ajax({
                    url: $(this).attr("action"),
                    type: "POST",
                    data: formData,                    
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result.success) {
                            $("#newModal").modal("hide");
                            location.reload();
                        } else {
                            $("#modal-content-placeholder").html(result);
                            $.validator.unobtrusive.parse("#userForm");
                        }
                    }
                });
            });
        });
</script>
