<!doctype html>
<html lang="en" data-bs-theme="blue-theme">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Indus Healthcare</title>
  <!--favicon-->
    <link rel="icon" href="~/assets/images/LogoIndus.jpeg" type="image/png">
  <!-- loader-->
    <link href="~/assets/css/pace.min.css" rel="stylesheet">   
  <!--plugins-->
    <link href="~/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/metismenu/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/metismenu/mm-vertical.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/simplebar/css/simplebar.css">   
  <!--bootstrap css-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">     
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <!--main css-->
    <link href="~/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="~/sass/main.css" rel="stylesheet">
    <link href="~/sass/dark-theme.css" rel="stylesheet">
    <link href="~/sass/blue-theme.css" rel="stylesheet">
    <link href="~/sass/semi-dark.css" rel="stylesheet">
    <link href="~/sass/bordered-theme.css" rel="stylesheet">
    <link href="~/sass/responsive.css" rel="stylesheet">
    <script>
        function setZoom(percentage) {
            document.body.style.zoom = percentage + '%';
        }
    </script>
</head>

<body>

  <!--start header-->
  <header class="top-header">
    <nav class="navbar navbar-expand align-items-center gap-4">
      <div class="btn-toggle">
        <a href="javascript:;"><i class="material-icons-outlined">menu</i></a>
      </div>
      <div class="search-bar flex-grow-1">
        <div class="position-relative">
          <input class="form-control rounded-5 px-5 search-control d-lg-block d-none" type="text" placeholder="Search">
          <span class="material-icons-outlined position-absolute d-lg-block d-none ms-3 translate-middle-y start-0 top-50">search</span>
          <span class="material-icons-outlined position-absolute me-3 translate-middle-y end-0 top-50 search-close">close</span>
          <div class="search-popup p-3">
            <div class="card rounded-4 overflow-hidden">             
              <div class="card-body search-content">
              </div>                
              </div>
              <div class="card-footer text-center bg-transparent">              
              </div>
            </div>
          </div>
      </div>
   
    <ul class="navbar-nav gap-1 nav-right-links align-items-center">
        <li class="nav-item d-lg-none mobile-search-btn">
        <a class="nav-link" href="javascript:;">
         <i class="material-icons-outlined">search</i></a>
        </li>
        <!--change unit drop dowan -->
                @* <li class="dropdown">
                  COMPANY</li> *@
         <li class="dropdown dropdown-item">                    
                  @await Component.InvokeAsync("CompanyDropdown")
         </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-auto-close="outside"
            data-bs-toggle="dropdown" href="javascript:;"><i class="material-icons-outlined">apps</i></a>
          <div class="dropdown-menu dropdown-menu-end dropdown-apps shadow-lg p-3">
            <div class="border rounded-4 overflow-hidden">
              <div class="row row-cols-3 g-0 border-bottom">
                                <div class="col border-end">
                                    <div class="app-wrapper d-flex flex-column gap-2 text-center">
                                        <div class="app-icon">
                                            <img src="~/assets/images/LogoI2.png" width="36" alt="">
                                        </div>
                                        <div class="app-name">
                                            <a class="mb-0" href="http://crm.indusafrica.org" target="_blank">CRM</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col border-end">
                                    <div class="app-wrapper d-flex flex-column gap-2 text-center">
                                        <div class="app-icon">
                                            <img src="~/assets/images/LogoI2.png" width="36" alt="">
                                        </div>
                                        <div class="app-name">
                                            <a href="http://hrms.indusafrica.org" target="_blank" class="mb-0">HRMS</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="app-wrapper d-flex flex-column gap-2 text-center">
                                        <div class="app-icon">
                                            <img src="~/assets/images/apps/12.png" width="36" alt="">
                                        </div>
                                        <div class="app-name">
                                            <p class="mb-0">Photo</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row-->
              <div class="row row-cols-3 g-0 border-bottom">
                <div class="col border-end">
                  <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                       <img src="~/assets/images/apps/01.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                      <p class="mb-0">Gmail</p>
                    </div>
                  </div>
                </div>
                <div class="col border-end">
                  <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="~/assets/images/apps/02.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                      <p class="mb-0">Skype</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="~/assets/images/apps/03.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                      <p class="mb-0">Slack</p>
                    </div>
                  </div>
                </div>
              </div><!--end row-->
              <div class="row row-cols-3 g-0 border-bottom">
                <div class="col border-end">
                  <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="~/assets/images/apps/04.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                      <p class="mb-0">YouTube</p>
                    </div>
                  </div>
                </div>
                <div class="col border-end">
                  <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="~/assets/images/apps/05.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                      <p class="mb-0">Google</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="~/assets/images/apps/06.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                      <p class="mb-0">Instagram</p>
                    </div>
                  </div>
                </div>
              </div><!--end row-->
              <div class="row row-cols-3 g-0 border-bottom">
                <div class="col border-end">
                  <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="~/assets/images/apps/07.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                      <p class="mb-0">Spotify</p>
                    </div>
                  </div>
                </div>
                <div class="col border-end">
                  <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="~/assets/images/apps/08.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                      <p class="mb-0">Yahoo</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="app-wrapper d-flex flex-column gap-2 text-center">
                    <div class="app-icon">
                        <img src="~/assets/images/apps/09.png" width="36" alt="">
                    </div>
                    <div class="app-name">
                      <p class="mb-0">Facebook</p>
                    </div>
                  </div>
                </div>
              </div><!--end row-->             
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
         @*<a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" data-bs-auto-close="outside"
            data-bs-toggle="" href="javascript:;"> *@
           @*<i class="material-icons-outlined">notifications</i> *@
                    @*<span class="badge-notify">5</span></a>*@       
          <div class="dropdown-menu dropdown-notify dropdown-menu-end shadow">
                        @*< div class="px-3 py-1 d-flex align-items-center justify-content-between border-bottom"> *@
            @* <h5 class="notiy-title mb-0">Notifications</h5> *@
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret option" type="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="material-icons-outlined">
                    more_vert
                  </span>
                </button>
              
              </div>
            </div>
            <div class="notify-list">
             </div>
              <div>
               
              </div>  
        
         
        </li>
       
        <li class="nav-item dropdown">
                    @{
                        var profilePath = User.FindFirst("ProfilePath")?.Value;
                        var profileUrl = !string.IsNullOrEmpty(profilePath)
                        ? Url.Content("~/Uploads/Profile/" + profilePath)
                        : "https://placehold.co/110x110/png";
                    }

          <a href="javascrpt:;" class="dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
             <img src="@profileUrl" class="rounded-circle p-1 border" width="45" height="45" alt="">
          </a>
          <div class="dropdown-menu dropdown-user dropdown-menu-end shadow">
            <a class="dropdown-item  gap-2 py-2" href="javascript:;">
              <div class="text-center">
                                <img src="@profileUrl" class="rounded-circle p-1 shadow mb-3" width="90" height="90"
                  alt="">
              <h5 class="user-name mb-0 fw-bold">@(User.Identity.IsAuthenticated ? "Hello " + User.Identity.Name : "Please log in")   </h5>
              </div>
            </a>
            <hr class="dropdown-divider">
           @*<a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;"><i
              class="material-icons-outlined">person_outline</i>Profile</a> *@
                        <a class="dropdown-item d-flex align-items-center gap-2 py-2"
                           href="javascript:void(0);"
                           id="openChangePassword">
                            <i class="material-icons-outlined">person_outline</i> Change Password
                        </a>
           @*<a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;"><i
              class="material-icons-outlined">local_bar</i>Setting</a>*@
           @*<a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;"><i
              class="material-icons-outlined">dashboard</i>Dashboard</a>
            <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;"><i
              class="material-icons-outlined">account_balance</i>Earning</a>
            <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;"><i
                class="material-icons-outlined">cloud_download</i>Downloads</a>*@
          <hr class="dropdown-divider">
              <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="@Url.Action("Logout","Home")">
               <i class="material-icons-outlined">power_settings_new</i>Logout</a>
          </div>
        </li>
    </ul>
    </nav>
  </header>
  <aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div class="logo-icon">
                <img src="~/assets/images/FinalII.png" class="logo-img" alt="">
            </div>
            <div class="logo-name flex-grow-1">
                <h5 class="mb-0"></h5>
            </div>
            <div class="sidebar-close">
                <span class="material-icons-outlined">close</span>
            </div>
        </div>
    <!--start sidebar-->
    <div class="sidebar-nav">
        <!--navigation-->
        <ul class="metismenu" id="sidenav">
            <hr />
            <li>
                <a style="font-weight:bold" href="@Url.Action("Dashboard", "Home")">
                        <div class="parent-icon" href="@Url.Action("Dashboard", "Home")">
                        <i class="material-icons-outlined">home </i>
                    </div>
                   <div href="@Url.Action("Dashboard", "Home")" class="menu-title">Dashboard</div>
                </a>
            </li>
              <hr />
                @{
                    // Check if user has view rights on "Masters"
                    var hasMasterViewPermission = User.Claims.Any(c =>
                    c.Type == "Permission" &&
                    c.Value.StartsWith("Masters:") &&
                    c.Value.Contains(":View:True"));
                    // Check if user has view rights on "OPD"
                    var hasOPDViewPermission = User.Claims.Any(c =>
                    c.Type == "Permission" &&
                    c.Value.StartsWith("OPD Corner:") &&
                    c.Value.Contains(":View:True"));
                    var hasNursingAssessment = User.Claims.Any(c => c.Type == "Permission" && c.Value.StartsWith("Initial Assessment:")
                    && c.Value.Contains(":View:True"));
                    var hasDoctorAssessment = User.Claims.Any(c => c.Type == "Permission" && c.Value.StartsWith("Doctor Assessment:")
                    && c.Value.Contains(":View:True"));
                }
               @if(hasMasterViewPermission)
               {
               <li>
                    <a href="javascript:;" class="has-arrow">
                        <div class="parent-icon" href="@Url.Action("Dashboard", "Home")">
                            <i class="material-icons-outlined">apps</i>
                        </div>
                        <div class="menu-title">Masters</div>
                    </a>
                        @{
                            var hasUserAllMastersPermission = User.Claims.Any(c => c.Type == "Permission" && c.Value.StartsWith("All Masters:") && c.Value.Contains("View:True"));
                            var hasUserUserMastersPermission = User.Claims.Any(c => c.Type == "Permission" && c.Value.StartsWith("All Masters:") &&  c.Value.Contains("User Master:") && c.Value.Contains("View:True"));
                        }
                        <ul>
                           @if(hasUserAllMastersPermission)                            
                             {
                                 <li>
                                    <a href="@Url.Action("Masters", "Master")"><i class="material-icons-outlined">arrow_right</i>All Masters</a>
                                </li>
                             }
                            @if (hasUserUserMastersPermission)
                            {
                                <li>
                                    <a href="@Url.Action("UserMasters", "UserMaster")"><i class="material-icons-outlined">arrow_right</i>User Master</a>
                                </li>
                            }
                    </ul>
                </li>  
               }
                @if (hasOPDViewPermission)
                {
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon">
                        <i class="material-icons-outlined">apps</i>
                    </div>
                    <div class="menu-title">OPD Corner</div>
                </a>
                        @{
                            if (hasNursingAssessment)
                            {
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Nursingassessment", "Assessment")"><i class="material-icons-outlined">arrow_right</i>Initial Assessment</a>
                                    </li>
                                </ul>
                            }
                            if (hasDoctorAssessment)
                            {
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Doctorassessment", "Assessment")"><i class="material-icons-outlined">arrow_right</i>Doctor Assessment</a>
                                    </li>
                                </ul>
                            }

                        }
                    </li>
                }
           @*<li class="menu-label">UI Elements</li>
            <li>
                <a href="cards.html">
                    <div class="parent-icon">
                        <i class="material-icons-outlined">inventory_2</i>
                    </div>
                    <div class="menu-title">Cards</div>
                </a>
            </li>*@
        </ul>
        <!--end navigation-->
    </div>
    </aside>
    <!--end sidebar-->
    <!--end sidebar-->
    <!--start overlay-->
    <div class="overlay btn-toggle"></div>
    <main class="page-content">
        @RenderBody()
    </main>
    <!--end overlay-->
    <!--start footer-->
    <footer class="page-footer">
        <p class="mb-0">Copyright © 2025. All right reserved.</p>
    </footer>
    <!--end footer-->
    <!--start cart-->
    
    <!--end cart-->

    <!--start switcher-->
    <button class="btn btn-grd btn-grd-primary position-fixed bottom-0 end-0 m-3 d-flex align-items-center gap-2" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop">
        <i class="material-icons-outlined">tune</i>Customize
    </button>

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="staticBackdrop">
        <div class="offcanvas-header border-bottom h-70">
            <div class="">
                <h5 class="mb-0">Theme Customizer</h5>
                <p class="mb-0">Customize your theme</p>
            </div>
            <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="offcanvas">
                <i class="material-icons-outlined">close</i>
            </a>
        </div>
        <div class="offcanvas-body">
            <div>
                <p>Theme variation</p>

                <div class="row g-3">
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="BlueTheme" checked>
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="BlueTheme">
                            <span class="material-icons-outlined">contactless</span>
                            <span>Blue</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="LightTheme">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4"
                               for="LightTheme">
                            <span class="material-icons-outlined">light_mode</span>
                            <span>Light</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="DarkTheme">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4"
                               for="DarkTheme">
                            <span class="material-icons-outlined">dark_mode</span>
                            <span>Dark</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="SemiDarkTheme">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4"
                               for="SemiDarkTheme">
                            <span class="material-icons-outlined">contrast</span>
                            <span>Semi Dark</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="BoderedTheme">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4"
                               for="BoderedTheme">
                            <span class="material-icons-outlined">border_style</span>
                            <span>Bordered</span>
                        </label>
                    </div>
                </div><!--end row-->

            </div>
        </div>
    </div>
    <!--start switcher-->
@*  <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script> *@
    <!--bootstrap js-->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <!--plugins-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/pace.min.js"></script>
    <!--plugins-->
    <script src="~/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/assets/plugins/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/assets/plugins/peity/jquery.peity.min.js"></script>
    <!--validation-->
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
 
 
    <script>
        $(".data-attributes span").peity("donut")
    </script>
   @*  <script>
        //setZoom(90); // Adjust the percentage as needed
    </script> *@
    <script src="~/assets/js/dashboard2.js"></script>
    <script src="~/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
    @* change password script *@
    <script type="text/javascript">
            $(document).ready(function () {
            $('#openChangePassword').on('click', function () {
                $.get('@Url.Action("ChangePassword", "Home")', function (html) {
                    $('#changePasswordModalContent').html(html);
                    $.validator.unobtrusive.parse('#ChangePassword');
                    $('#changePasswordModal').modal('show');
                });
            });
        });
       

        $(document).on("submit", "#ChangePassword", function (e) {
            e.preventDefault();
            var form = $(this);
            if (!form.valid()) return;

            $.ajax({
                url: form.attr("action"),
                method: "POST",
                data: form.serialize(),
                success: function (res) {
                    if (res.success) {                       
                        $('#changePasswordModal').modal('hide');
                         alert(res.message);
                          window.location.href = '/Home/Logout'
                    } else {
                        //$('#modal-content-placeholder').html(res);  
                         $('#changePasswordModalContent').html(res);
                        $.validator.unobtrusive.parse('#ChangePassword');
                    }
                },
                error: function () {
                    alert("Something went wrong.");
                }
            });
        });
    </script>
    @* change password modal *@
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content border-0 shadow-lg rounded-4">

                <div class="modal-header bg-primary text-white rounded-top-4">
                    <h5 class="modal-title">
                        <i class="material-icons-outlined me-2">lock</i> Change Password
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-4" id="changePasswordModalContent">
                    <div id="modal-content-placeholder"></div>
                    <!-- AJAX partial view will load here -->
                    <div class="text-center py-5 text-muted">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="mt-2">Loading form...</div>
                    </div>
                </div>

                <div class="modal-footer bg-light rounded-bottom-4 d-none">
                    <!-- Optionally insert buttons via JS or inside partial -->
                </div>

            </div>
        </div>
    </div>
  </body>
</html>